.profile{
    width: 12rem;
    height: 10rem;
    /* margin: 1rem 2rem 2rem 1rem; */
    /* border: 2px solid blue ; */
    border-radius: 50%;
    margin: 0.2rem ;
}
.profileDiv{
    /* border: 2px solid blue ; */
    border-radius: 50%;
    margin: 1rem 2rem 2rem 1rem;
    background-color: rgb(97, 127, 154);
    /* margin: 0.8rem 1.9rem 1.9rem 1.8rem; */
}
.wrapper{
    width: 8.5rem;
    /* border: 2px solid red ; */
    font-size: 1.2rem;
}
@media screen and (min-width: 1024px){
    .wrapper{
        width: 12rem;
        /* border: 2px solid red ; */
        font-size: 1.8rem;
        font-weight: 600;
        /* background-color: rgb(97, 127, 154); */
        color: rgb(97, 127, 154);
        text-align: left;
        padding: 2rem 2rem 15rem 2rem;
        position: sticky;
        top: 0;
        z-index: 1000;
        height: 100vh;
        cursor: pointer;
        font-family: fantasy
        /* overflow-y: auto;  */
    }
}