.wrapper{
    padding: 1rem;
    border: 2px solid rgb(228, 219, 219);
    margin: 2rem;
    width: 40rem;
}
.heading{
    background-color: rgb(97, 127, 154);
    font-size: 4rem;
    padding: 1.5rem;
    color: white;
}
.mainWrapper{
    display: flex;
    justify-content: center;
    font-family: fantasy;
}
.Details{
    display :flex;
    color: green;
    font-size: 1.5rem;
}
.Details:hover{
    /* background-color: rgb(97, 127, 154); */
    /* color: white; */
    cursor: pointer;
}